.gradienteFont {
  background: linear-gradient(
    124deg,
    #e0e0e0,
    #b8b8b8,
    #0060ff,
    #a0a0a0,
    #8d8d8d
);
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: moveText 50s linear infinity;
}

@keyframes moveText {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}