video::-webkit-media-controls-playback-rate-button {
    display: none;
}
video::-moz-media-controls-playback-rate-button {
    display: none;
}
video::-ms-media-controls-playback-rate-button {
    display: none;
}

video {
    pointer-events: auto;
}
video::-webkit-media-controls-context-menu-button {
    display: none;
}
video::-webkit-media-controls-volume-slider {
    display: none;
}